{% extends 'layout.html' %}
{% block body %}
    <div class=main-content>

    <h2> Załóż nowe konto </h2>

    {% if error %}<p class=error><strong>Błąd:</strong> {{ error }}{% endif %}

    <div class=form>
        <form action="{{ url_for('register') }}" method=POST>
        <ul>
            <li><label>Nazwa użytkownika</label><input type=text name=username_r placeholder="Nazwa użytkownika"></li>
            <li><label>Hasło</label><input type=password name=password_r placeholder="Hasło"></li>
            <li><input type=submit value="Zaloguj"></li>
        </ul>
        </form>
    </div>
    </div>
{% endblock %}