{% extends 'layout.html' %}
{% block body %}
    {% if session.logged_in %}

        <a href="{{ url_for('add_person') }}"><button>Dodaj nowy wpis</button></a>

        {% for p in people %}
            <ul>
                <li>{{p.first_name}}</li>
                <li>{{p.last_name}}</li>
                {% if p.birth_year %}
                    <li>{{p.birth_year}}</li>
                {% endif %}
                <li><a href="{{ url_for('edit_person', person_id=p.id) }}">Edytuj</a> | 
                    <a href="{{ url_for('delete_person', person_id=p.id) }}">Usuń</a></li>
            </ul>
        {% else %}
            Wygląda na to, że nie masz jeszcze żadnych wpisów w drzewie.
        {% endfor %}

    {% else %}
        <h2>Proszę, zaloguj się albo stwórz nowe konto</h2>
    {% endif %}
{% endblock %}