{% extends 'layout.html' %}
{% block body %}
    {% if session.logged_in %}

        <a href="{{ url_for('add_new_person') }}"><button>Dodaj nowy wpis</button></a>

        {% for p in people %}
            <ul>
                <li>{{p.first_name}}</li>
                <li>{{p.last_name}}</li>
                <li>{{p.birth_year}}</li>
            </ul>
        {% else %}
            Wygląda na to, że nie masz jeszcze żadnych wpisów w drzewie.
        {% endfor %}

    {% else %}
        <h2>Proszę, zaloguj się albo stwórz nowe konto</h2>
    {% endif %}
{% endblock %}